<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!--
                                            ___
                                           /\_ \
     __  __   _____   _ __   ___       ___ \//\ \
    /\ \/\ \ /\ '__`\/\`'__\/ __`\   /' _ `\ \ \ \
    \ \ \_/ |\ \ \L\ \ \ \//\ \L\ \__/\ \/\ \ \_\ \_
     \ \___/  \ \ ,__/\ \_\\ \____/\_\ \_\ \_\/\____\
      \/__/    \ \ \/  \/_/ \/___/\/_/\/_/\/_/\/____/
                \ \_\
                 \/_/

    Kwaliteitsinternet sinds MCMXCIV!
    Kwaliteitsinternet sinds 11111001010!
    Kwaliteitsinternet sinds 0x7ca!
    Kwaliteitsinternet sinds de wortel van 3976036!

    (C) VPRO Digitaal, the Netherlands / http://digitaal.vpro.nl

    -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook tags -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://projects.haykranen.nl/verzetje/">
    <meta property="og:image" content="http://projects.haykranen.nl/verzetje/img/thumb.jpg">
    <meta property="og:site_name" content="Hay Kranen">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hayify">

    <link rel="stylesheet" href="css/style.css">
    <title>verzetje</title>
</head>
<body>
<body>
    <main v-cloak>
        <section class="screen home" v-show="screen === 'home'">
            <div class="screen__content">
                <img src="img/logo.svg" alt="logo" class="logo">

                <p class="home__lead">
                    Wil je hulp om in actie te komen tegen je ouders? Wil je een revolutie in je huiskamer? Moet hun gedrag anders, maar weet je niet zo goed hoe?
                    <br /><br />
                    <strong>Verzetje helpt je in actie te komen samen met je vrienden en familie!</strong>
                </p>

                <a href="#name" class="button buffer-bottom-3 button--big">
                    Begin hier
                </a>

                <!--
                <h3>Recente verzetjes</h3>

                <h3>Leer in verzet te komen</h3>
                -->
            </div>
        </section>

        <section class="screen form" v-show="screen === 'name'">
            <div class="screen__content">
                <h2 class="screen__progress">
                    <strong>1 / 5</strong>
                    Je naam
                </h2>

                <h3>Laten we simpel beginnen. Wat is je naam?</h3>
                <h4>Een nepnaam is ok.</h4>

                <input type="text" class="form__input buffer-bottom-3" v-model="name" />

                <a href="#resist" class="button button--big">
                    Verder
                </a>
            </div>
        </section>

        <section class="screen form" v-show="screen === 'resist'">
            <div class="screen__content">
                <h2 class="screen__progress">
                    <strong>2 / 5</strong>
                    Je verzetje
                </h2>

                <h3>Waar wil je tegen in verzet komen?</h3>
                <h4>
                    Dus: Ik wil...
                </h4>
                <ul>
                    <li>dat mijn ouders minder vaak vliegen</li>
                    <li>dat mijn vader lekkerder kookt</li>
                    <li>dat mijn moeder stopt met roken</li>
                </ul>

                <textarea class="form__input" v-model="resist"></textarea>

                <a href="#record" class="button button--big">
                    Verder
                </a>
            </div>
        </section>

        <section class="screen record" v-show="screen === 'record'">
            <div class="screen__content">
                <div v-show="!hasRecording">
                    <h2 class="screen__progress">
                        <strong>3 / 5</strong>
                        Je video
                    </h2>

                    <h3>Vertel hier waar je verzetje over gaat en dat je steun nodig hebt.</h3>

                    <h4>Bekijk de voorbeeldvideo</h4>
                </div>

                <button class="button button--icon"
                        v-show="!hasRecording"
                        v-on:click="record">
                    <i class="glyph glyph-clapboard"></i>
                </button>

                <video src=""
                       v-show="hasRecording"
                       class="record__video"
                       controls></video>

                <div v-show="hasRecording">
                    <button v-on:click="hasRecording = false"
                            class="button button--big buffer-bottom-3">
                        Overnieuw
                    </button>

                    <a href="#calltoaction" class="button button--big">
                        Verder
                    </a>
                </div>
            </div>
        </section>

        <section class="screen form" v-show="screen === 'calltoaction'">
            <div class="screen__content">
                <h2 class="screen__progress">
                    <strong>4 / 5</strong>
                    Je oproep
                </h2>

                <h3>Wat wil je dat de medeverzetters gaan zeggen?</h3>
                <h4>We hebben al iets voor je ingevuld. Pas het aan of laat het zo staan.</h4>

                <textarea class="form__input" v-model="calltoaction"></textarea>

                <a href="#ready" class="button button--big">
                    Verder
                </a>
            </div>
        </section>

        <section class="screen ready" v-show="screen === 'ready'">
            <div class="screen__content">
                <h2 class="screen__progress">
                    <strong>5 / 5</strong>
                    Klaar
                </h2>

                <div class="button button--icon">
                    <i class="glyph glyph-check"></i>
                </div>

                <h3>Je bent klaar! Je verzetje is is aangemaakt en verloopt in 3 dagen</h3>

                <h2>Deel je verzetje</h2>

                <div class="ready__share">
                    <button class="button button--icon">
                        <span>I</span>
                    </button>

                    <button class="button button--icon">
                        <span>W</span>
                    </button>

                    <button class="button button--icon">
                        <span>I</span>
                    </button>
                </div>

                <a href="#home" class="button button--link">
                    Nogmaals
                </a>
            </div>
        </section>
    </main>

    <script src="bundle.js"></script>
</body>
</html>